* {
	margin:0;
}

#carBox{
	width: 990px;
	margin: 30px auto;
}



.cart-submit {
	margin-top: 20px;
	border: 1px solid #ebebeb;
	overflow: auto;
}
.cart-submit div{
	float: right;
	margin-right: 10px;
	line-height: 40px;
}
.cart-submit div>span:last-of-type {
	font-size: 20px;
	color: red;
	font-weight: bold;
}
.cart-submit div>span {
	font-size: 15px;
	color: #999999;
}
.cart-submit button{
	width: 90px;
	height: 50px;
	color: white;
	float: right;
	font-weight: bold;
	font-size: 15px;
	background-color: red;
	border: 0;
}

.cart-panel {
	margin-bottom: 20px;
    border: 1px solid #d9d9d9;
}
.cart-panel .hd {
    margin: 0;
    padding: 0 20px;
    list-style: none;
    background-color: #ebebeb;
    overflow: auto;
}
.hd .order-title {
    margin: 0;
    padding: 0;
    list-style: none;
}
.order-title li {
    font-weight: bold;
    display: inline-block;
    float: left;
    padding: 10px 0;
}
.order-title li.product {
	width: 400px;
}
.order-title li.order-price {
    width: 130px;
    text-align: center;
}
.order-title li.num {
	width: 150px;
    text-align: center;
}
.order-title li.operate {
	float: right;
    width: 130px;
    text-align: center;
}

.cart-panel .bd {
	margin: 0;
    padding: 0 20px;
    overflow: auto;
}
.cart-panel .order-list:first-child {
    border-top: none;
}
.cart-panel .order-list {
    font-size: 12px;
    margin: 0;
    padding: 15px 0;
    list-style: none;
    border-top: 2px dotted #d9d9d9;
}
.cart-panel .order-list li {
    line-height: 20px;
    display: inline-block;
}
.cart-panel .order-list li.img-box {
    width: 70px;
}
.cart-panel .order-list li.product {
    width: 345px;
    padding: 8px 0;
}
.cart-panel .order-list li.order-price {
    font-weight: bold;
    color: #ff6a00;
    width: 130px;
    padding: 18px 0;
    text-align: center;
}
.cart-panel .order-list li.order-price>span {
    margin-right: -4px;
    font-size: 15px;
}
.cart-panel .order-list li.num {
    width: 130px;
    margin: 16px 0;
    text-align: center;
}
.input-num {
    width: 80px;
    margin: 0 auto;
    margin-left: 40px;	
}
.input-num a {
    width: 11px;
    height: 11px;
    padding: 0;
    color: #4d4d4d;
	border: 1px solid #d9d9d9;
	text-decoration: none;
	text-align: center;
}
.input-num input {
    display: inline-block;
    width: 40px;
    height: 24px;
    border: 1px solid #d9d9d9;
}
.cart-panel .order-list li.operate {
    width: 130px;
    padding: 8px 0 8px 150px;
    text-align: center;
}
.cart-panel .order-list li.operate a {
    color: #737373;
    text-decoration: none;
    text-align: right;
}

.alert-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: none;
}
.alert-box .alert-shadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1000;
}
.alert-box .alert-content {
	position: relative;
	margin: 10% auto;
	width: 500px;
	height: 500px;
	z-index: 1001;
}
.alert-box .alert-head {
	background-color: red;
	color: white;
	font-weight: bold;
	overflow: auto;
	padding: 0 10px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
}
.alert-box .alert-head .alert-title {
	float: left;
}
.alert-box .alert-head>a {
	float: right;
	text-decoration: none;
	color: white;
}
.alert-box .alert-body {
	background-color: white;
	width: 100%;
	height: 450px;
	padding-top: 50px;
	box-sizing: border-box;
}
.alert-submit {
	display: block;
	width: 270px;
	height: 40px;
	background-color: red;
	color: white;
	font-weight: 18px;
	border: 0;
}
.alert-body-component{
	margin: 0 auto;
}


