* {
	margin: 0;
}
.carousel-box {
	position: relative;
}
.carousel-indicator {
	width: 400px;
	position: absolute;
	bottom: 10px;
	left: 44%;
}

.item {
	height: 440px;
	display: none;
}
.active {
	display: block;
	transition:transform 0.6s ease-in-out;
}
.fill {
	height: 100%;
	background-position: center;
	background-size: cover;
}

.carousel-indicator>input {
	display: inline-block;
	visibility:hidden;
	margin-left: 15px;
}
.carousel-indicator>input:checked+label {
	background-color: red;
	opacity: 1;
}
.carousel-indicator>label {
	content: ' ';
	opacity: 0.6;
	background-color: black;
	width: 15px;
	height: 15px;
	border-radius: 8px;
	position: absolute;
}

.floor-hd {
	overflow: auto;
	
}
.floor-hd>a {
	text-decoration: none;
	color: #999999;
	font-size: 15px;
	float: right;
}
.floor-hd>h3>a {
	text-decoration: none;
	color: #999999;
	float: left;
}
.floor-hd span {
	font-size: 13px;
	color: #999999;
	float: left;

}
.bd-1 {
	background-color: #ffc0bb;
	display: inline-block;
	position: relative;
	width: 243px;
	height: 639px;
}
.bd-1>a {
	display: block;
	position: absolute;
	bottom: 85px;
	left: 35px;
	text-decoration: none;
	border: 2px solid white;
	color: white;
	font-weight: 400;
	padding: 10px 20px
}